/* background-color: #63727A; */
/* Kings grey ^ */

.posts {
    width: 70vw;
    margin: 20px auto 20px auto;
    
}

.post_expanded {
    width: 70%;
    margin: 10px auto 10px auto;
    display: flex;
    justify-content: center;
}

.post_details {
    border: solid rgb(194, 194, 194) 1px;
    min-width: 70%;
    max-width: 400px;
    background-color: white;
    position: relative;
    border-radius: 2px;
    box-shadow: 1px 1px 1px grey;
}

.comment_details {
    border: solid black 1px;
    margin-top: 10px;
}

.postForm {
    border: solid black 1px;
    width: 60vw;
    margin: 20px auto 20px auto;
    padding: 10px;
    border-radius: 2px;
}

.postForm_title {
    text-align: center;
    font-size: 1.25rem;
}

.form-group {
    padding: 10px;
}

#form-text {
    min-height: 150px;
}

.post {
    margin: 10px;
    padding: 10px;
    border: solid rgb(194, 194, 194) 1px;
    background-color: white;
    position: relative;
    border-radius: 2px;
    box-shadow: 1px 1px 1px grey;
}

.post-headline {
    text-align: center;
    
}

.post_headline {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 5px;
    cursor: pointer;
}

.post_details_headline {
    font-size: 1.25rem;
}

.post_username {
    margin-bottom: 5px;
}

.profile_card {
    border-top: solid rgb(194, 194, 194) 1px;
    border-left: solid rgb(194, 194, 194) 1px;
    border-bottom: solid rgb(194, 194, 194) 1px;
    width: 100px;
    text-align: center;
    padding: 10px;
    background-color: #f1f2f2;
    cursor: pointer;
    box-shadow: 1px 1px 1px grey;
}

.post-text {
    margin: 10px 10px 10px 10px;
}

.post-datetime {
    padding: 3px 8px;
    border-bottom: solid rgb(194, 194, 194) 1px;
    font-size: 0.85rem;
}

.deletePost_button {
    margin: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.post_delete {
    cursor: pointer;
}

.createPostDiv {
    text-align: center;
    margin: 20px;
}

.createPost_button {
    padding: 5px 20px;
    border-radius: 5px;
    border: solid 1px rgb(194, 194, 194);
    width: 15vw;
    background-color: white;
    font-size: 1.1rem;
    box-shadow: 1px 1px 1px grey;
    cursor: pointer;
}

.category {
    padding: 0px 5px 8px 5px;
    font-size: 1.25rem;
    cursor: pointer;
}

.category_header {
    margin-top: 50px;
    font-size: 1.5rem;
    margin-left: 16%;
}

.category_description {
    padding: 0px 5px 5px 5px;
}

.addComment_textForm {
    max-width: 700px;
    margin: 30px auto;
}

.addComment-btn {
    align-items: center;
    cursor: pointer;
}

#commentForm-text {
    min-width: 100%;
    max-width: 400px;
    min-height: 150px;
    background-color: white;
    border: solid rgb(194, 194, 194) 1px;
    margin-top: 10px;
    
}

.forums_header {
    font-size: 1.25rem;
    text-align: center;
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.page-link {
    padding: 5px 10px;
    margin: 2px;
    background-color: white;
    border: solid rgb(194, 194, 194) 1px;
    border-radius: 3px;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    cursor: pointer;
}

.page-link:hover {
    background-color: #5A2D81;
    color: white;
}