/* background-color: #63727A; */
/* Kings grey ^ */

.posts {
    border: solid black 1px;
    width: 70vw;
    margin: 20px auto 20px auto;
}

.post_expanded {
    width: 70%;
    margin: 10px auto 10px auto;
    display: flex;
    justify-content: center;
}

.post_details {
    border: solid black 1px;
    min-width: 70%;
    max-width: 400px;
    background-color: whitesmoke;
}

.comment_details {
    border: solid black 1px;
    margin-top: 10px;
}

.postForm {
    border: solid black 1px;
    width: 60vw;
    margin: 20px auto 20px auto;
    padding: 10px;
}

.postForm_title {
    text-align: center;
}

.form-group {
    padding: 10px;
}

#form-text {
    min-height: 150px;
}

.post {
    margin: 10px;
    padding: 10px;
    border: solid black 1px;
    cursor: pointer;
    background-color: white;
}

/* .post-username {
    
} */

.post-headline {
    margin: 5px;
}

.profile_card {
    border-top: solid black 1px;
    border-left: solid black 1px;
    border-bottom: solid black 1px;
    width: 100px;
    text-align: center;
    padding: 10px;
    background-color: #e1e2e2
}

.post-text {
    margin: 10px 10px 10px 10px;
}

.post-datetime {
    padding: 3px 5px;
    border-bottom: solid black 1px;
    font-size: 0.85rem;
}

.deletePost_button {
    margin: 10px;
    text-align: end;
}

.createPostDiv {
    text-align: center;
    margin: 20px;
}

.createPost_button {
    padding: 5px 20px;
    border-radius: 5px;
    border: solid 1px black;
    width: 15vw;
}

.category {
    background-color: #5A2D81;
    color: white;
    padding: 3px 5px;
}

.addComment_textForm {
    margin: 20px 25%;
    max-width: 700px;
}

.addComment-btn {
    align-items: center;
}

#commentForm-text {
    min-width: 100%;
    max-width: 200px;
    min-height: 150px;
    background-color: whitesmoke;
    border: solid black 1px;
}