/* background-color: #63727A; */
/* Kings grey ^ */

.posts {
    border: solid black 1px;
    width: 70vw;
    margin: 20px auto 20px auto;
}

.post_expanded {
    width: 70%;
    margin: 20px auto 20px auto;
    display: flex;
}

.post_details {
    border: solid black 1px;
}

.postForm {
    border: solid black 1px;
    width: 60vw;
    margin: 20px auto 20px auto;
    padding: 10px;
}

.postForm_title {
    text-align: center;
}

.form-group {
    padding: 10px;
}

#form-text {
    min-height: 100px;
}

.post {
    margin: 10px;
    padding: 10px;
    border: solid black 1px;
    cursor: pointer;
    background-color: white;
}

.post-headline {
    margin: 5px;
}

.profile_card {
    border-top: solid black 1px;
    border-left: solid black 1px;
    border-bottom: solid black 1px;
    width: 15%;
    text-align: center;
    padding: 10px;
    background-color: rgb(223, 223, 223);
}

.post-text {
    margin: 0px 10px 10px 10px;
}

.deletePost_button {
    margin: 10px;
    text-align: end;
}

.createPostDiv {
    text-align: center;
    margin: 20px;
}

.createPost_button {
    padding: 5px 20px;
    border-radius: 5px;
    border: solid 1px black;
}

.category {
    background-color: #5A2D81;
    color: white;
    padding: 3px 5px;
}