.h1, h1 {
    font-size: 2.5rem;
}

fieldset {
    min-width: 0;
    padding: 1rem 0;
    margin: 0;
    border: 0;
}

.form--login {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}

.form--login > fieldset > input[type="email"] {
    width: 25em;
}

.label--login {
    width: 8rem;
    display: inline-block;
}

.form-control {
    display: block;
    width: 94%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    
}

.container--login {
    text-align: center;
}

.form--login {
    background-position-x: right;
    z-index: 1;
    min-height: 20rem;
    min-width: 30rem;
    background-color: hsla(0,0%,100%,0.40);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    margin-top: 10rem;
    text-align: center;
    border-radius: 5px;
}


.button--close {
    position: relative;
    bottom: -2rem;
}

.login_header {
    font-size: 1.25rem;
    text-align: left;
    padding: 35px 0 5px 35px;
    display: block;
}

.email_header {
    font-size: 1.25rem;
    text-align: left;
    padding: 15px 0px 15px 35px;
    display: block; 
}

.email_input {
    font-size: 1rem;
    text-align: left;
    margin-left: 35px;
    padding: 5px;
    display: block;
    border: solid 1px rgb(194, 194, 194);
    border-radius: 5px;
    min-width: 25rem;
}

.login_button {
    padding: 5px 20px;
    border-radius: 5px;
    border: solid 1px rgb(194, 194, 194);
    width: 21vw;
    background-color: #5A2D81;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    margin-top: 20px;
}

.link--register {
    margin: 45px;
}